{% macro title_or_last(component, offset=2) %}
    {% set length = component.components | length %}
    {% set name = component.components | slice(end=length - offset) | last %}
    {{ component.title | default(value=name) }}
{% endmacro title_or_last %}
{% macro format_date(date) %}
    {% set date_format = config.extra.date_format | default(value="%a %b %e, %Y") %}
    {{ date | date(format=date_format) }}
{% endmacro format_date %}
{% macro bottom_menu() %}
    <div class="section bottom-menu">
        <hr/>
        <p>
            {% if config.extra.sam_menu and config.extra.sam_bottom_menu %}
                {% for link in config.extra.sam_menu %}
                    <a href="{{ link.link }}">{{ link.text }}</a>
                    &#183;
                {% endfor %}
            {% elif config.extra.sam_bottom_menu %}
                {% set index = get_section(path="_index.md") %}
                {% for current in index.subsections %}
                    {% set current = get_section(path=current) %}
                    <a href="{{ current.permalink }}">{{ macros::title_or_last(component=current) }}</a>
                    &#183;
                {% endfor %}
            {% endif %}
            <a href="{{ config.base_url }}">
                {{ config.extra.home | default(value="home") }}
            </a>
            &#183;
            <a href="{{ config.extra.social.github }}">
                github
            </a>
            &#183;
            <a href="{{ config.extra.social.twitter }}">
                twitter
            </a>
        </p>
    </div>
{% endmacro bottom_menu %}
{% macro footer() %}
    {% if config.extra.sam_footer %}
        <div class="section footer">
            {{ config.extra.sam_footer.text | safe }}
        </div>
    {% endif %}
{% endmacro footer %}
{% macro social_links(social_config) %}
    <div class="social-icons">
        {% if social_config.mail %}
            <a class="social-icons__link" href={{ social_config.mail }} rel="noopener" target="_blank">
                <svg
                    class="feather feather-mail"
                    class="scicon"
                    fill="none"
                    height="24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                    <polyline points="22,6 12,13 2,6"></polyline>
                </svg>
            </a>
        {% endif %}
        {% if social_config.github %}
            <a class="social-icons__link" href={{ social_config.github }} rel="noopener" target="_blank">
                <svg
                    class="featherfeather-github"
                    class="scicon"
                    fill="none"
                    height="24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    stroke="currentColor"
                    viewBox="002424"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7
                        0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path>
                </svg>
            </a>
        {% endif %}
        {% if social_config.twitter %}
            <a class="social-icons__link" href={{ social_config.twitter }} rel="noopener" target="_blank">
                <svg
                    class="feather feather-twitter"
                    class="scicon"
                    fill="none"
                    height="24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path>
                </svg>
            </a>
        {% endif %}
        {% if social_config.facebook %}
            <a class="social-icons__link" href={{ social_config.facebook }} rel="noopener" target="_blank">
                <svg
                    class="feather feather-facebook"
                    class="scicon"
                    fill="none"
                    height="24"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                </svg>
            </a>
        {% endif %}
    </div>
{% endmacro %}